body {
    font-family: 'Merriweather', sans-serif;
    font-weight: bold;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 20px;
    background-color: black;
}
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-weight: 700;
}
header {
    position: absolute;
width: 1440px;
height: 90px;
left: 0px;
top: 0px;
}
.header-box {
    display: flex;
    align-items: center;
  
       
       height: 50px;
       margin: 0;
       padding: 0;
       box-sizing: border-box;
   
}
.menu {
    display: flex;
    margin: 0px 10px;
    
}
ul {
    list-style: none;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}
.container {
    width: 1440px;
    position: relative;
    margin: 0 auto;
    padding: 0 20px;
    display: flex;
    flex-direction: column;
    -webkit-box-direction: normal;
    -webkit-box-orient: vertical;
    
}
html {
    display: contents;
    font-size: 16px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container > div {
    font-size: 6vw;
    padding: .5em;
    color: rgb(216, 196, 196);
    
  }
  .logotip {
    display: flex;
    align-items: center;
    width: 100%;
    height: 50px;
   
     
   
     
    }
    .logo:hover {
        filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%)
          contrast(87%);
      }
  
 


.section{
    width: 50%;
}
section {
    display: block;
}
.section-title{
    font-size: bold;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #0f527e;
}
.main {
    background-image: url(/Users/AMD/Desktop/rsschool-cv/portfolio-portfolio/assets/img/alex.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
}
.navigation-item {
    padding: 0px 10px;
    color: rgb(248, 247, 241);
    font-size: 1.5em;
 
  
}
.navigation-item-color {
    color: #BDAE82;
    font-size: 1.5em;
    padding: 0px 10px;
}
.main-title {
    max-width: 500px;
    max-height: 300px;
    margin-left: 80px;
    margin-top: 250px;
    margin-bottom: 330px;
}
.main-title1 {
    color: white;
    font-family: 'Merriweather', sans-serif;
    font-style: normal;
font-weight: bold;
font-size: 60px;
line-height: 120px;
}
.main-title-text {
    font-family: 'Inter', sans-serif;
    color: white;
        font-size: 20px;
line-height: 40px;
font-weight: normal;
font-style: normal;
}
.main-title-HireMe {
    width: 220px;
    height: 55px;
    background-color: #BDAE82;
    border: none;
    font-size: 20px;
    line-height: 40px;
    cursor: pointer;
    font-style: normal;
    font-weight: normal;
    text-align: center;
}
.block-skills {
    width: 100%;
    height: 500px;
    max-width: 1440px;
    margin: auto;
}
.block-skills-line {
    width: 300px;
    height: 2px;
    background-color: #BDAE82;
    border: none;
    margin-right: 25px;
    margin-left: 25px;
}
.block-skills-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 80px;
}
.block-skills-head {
    color: #BDAE82;
    font-size: 2.6em;
    font-family: 'Merriweather', sans-serif;
}
a {
    text-decoration: none;
}
a {
    outline: none;
}
.block-skills-b1 {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.block-skills-size {
    width: 55px;
    height: 55px;
}
.block-skills-1 {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}
.block-skills-text {
    color: white;
    font-family: 'Inter', sans-serif;
    text-align: center;
    margin: 20px 0px;
    line-height: 35px;
    font-size: 1.3em;
}
.block-skills-b2 {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.block-skills-b3 {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.block-skills-b4 {
    width: 320px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.block-portfolio-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    margin-top: 80px;
}
.block-portfolio {
    width: 100%;
    height: 250px;
    max-width: 1440px;
    margin: auto;
}
.block-portfolio-head {
    color: #BDAE82;
    font-size: 2.6em;
    font-family: 'Merriweather', sans-serif;
}
.block-buttons {
    display: flex;
    justify-content: center;
}
.button-winter {
    width: 220px;
    height: 55px;
    border: 2px solid #BDAE82;
    background-color: #00000000;
    color: #BDAE82;
    font-size: 1.3em;
    cursor: pointer;
    margin: 30px 2.5px;
    transition: 0.2s;
}
.button-summer {
    width: 220px;
    height: 55px;
    border: 2px solid #BDAE82;
    background-color: #00000000;
    color: #BDAE82;
    font-size: 1.3em;
    cursor: pointer;
    margin: 30px 2.5px;
    transition: 0.2s;
}
.button-autumn {
    width: 220px;
    height: 55px;
    border: 2px solid #BDAE82;
    background-color: #00000000;
    color: #BDAE82;
    font-size: 1.3em;
    cursor: pointer;
    margin: 30px 2.5px;
    transition: 0.2s;
}
.button-spring {
    width: 220px;
    height: 55px;
    border: 2px solid #BDAE82;
    background-color: #00000000;
    color: #BDAE82;
    font-size: 1.3em;
    cursor: pointer;
    margin: 30px 2.5px;
    transition: 0.2s;
}
.block-img {
    width: 100%;
    max-width: 1440px;
    margin: auto;
}
.block-img-1 {
    width: 100%;
}
.block-img-top {
    display: flex;
    justify-content: center;
}
.img-top {
    width: 100%;
    max-width: 550px;
    height: auto;
    padding: 12.5px;
    box-sizing: border-box;
}
.block-img-low {
    display: flex;
    justify-content: center; 
}
.block-video {
    width: 100%;
    max-width: 1440px;
    margin: 80px auto;
}
.block-video-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    }
.video-top {
    display: flex;
    justify-content: center;
}
.video-size {
    margin-top: 50px;
    background-image: url(./assets/img/video-player.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 1400px;
    height: 705px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.button-back {
    width: 130px;
    height: 130px;
    cursor: pointer;
    transition: 0.2s;
}
.block-price {
    width: 100%;
    max-width: 1440px;
    margin: 80px auto; 
}
.block-price-position {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;
    }
    .block-price-top {
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    .block-price-1 {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 450px;
        height: 505px;
        margin-right: 10px;
        border: 3px solid #BDAE82;
    }
    .price-standart {
        font-size: 1.7em;
    color: white;
    font-family: 'Merriweather', serif;
    padding: 20px 0px;
    }
    .price {
        font-size: 1.4em;
    color: #BDAE82;
    font-family: 'Merriweather', serif;
    padding: 15px 0px;
    }
    .block-price-standart {
        font-size: 1.1em;
    color: white;
    line-height: 35px;
    text-align: center;
    font-family: 'Inter', sans-serif;
    padding: 20px 0px;
    }
    .button-standart {
        width: 220px;
    height: 55px;
    background-color: #BDAE82;
    border: none;
    font-size: 1.3em;
    cursor: pointer;
    margin: 20px 0px;
    transition: 0.2s;
    }
    .block-contactMe {
        width: 100%;
        max-width: 1440px;
        height: 600px;
        margin: 100px auto;
    }
    .contact-img {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 100%;
        height: 700px;
        background-image: url(./assets/img/alex1.jpg);
        background-repeat: no-repeat;
        background-size: auto 100%;
        background-position: center;
        margin: auto;
    }
    .block-contactMe-top {
        padding-top: 65px;
        padding-bottom: 50px;
    }
    h3 {
        display: block;
        font-size: 1.17em;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        font-weight: bold;
    }
    .title-contactMe {
        color: #BDAE82;
    font-family: 'Merriweather', serif;
    font-size: 2.6em;
    padding-right: 265px;
    }
    .block-contactMe-low {
        width: 450px;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.486);
    border: 2px solid #BDAE82;
    font-size: 1.1em;
    }
    .block-contactMe-low1 {
        width: 450px;
    height: 100px;
    background-color: rgba(0, 0, 0, 0.486);
    border: 2px solid #BDAE82;
    font-size: 1.1em;
    }
    .block-contact-message {
        width: 220px;
    height: 55px;
    background-color: #BDAE82;
    border: none;
    font-size: 1.3em;
    text-align: center;
    cursor: pointer;
    color: black;
    padding-left: 0px;
    transition: 0.2s;
    }
    .block-footer {
width: 100%;
max-width: 1440px;
height: 150px;
display: flex;
align-items: center;
justify-content: space-between;
margin: auto;
    }
    .block-footer-left {
        display: flex;
        align-items: center;
    }
   .block-date {
       color: white;
       font-family: 'Inter', sans-serif;
       font-size: 1.3em;
       padding-left: 20px;
   }
   .footer-center {
       display: flex;
       align-items: center;
   }
   .block-footer-network {
       margin-right: 30px;
       display: flex;
       align-items: center;
   }
.footer-inst {
    background-image: url(./assets/img/Vector.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: 0.2s;
}
.footer-fb {
    background-image: url(./assets/img/fb.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: 0.2s;
}
.footer-twitter {
    background-image: url(./assets/img/twitter.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: 0.2s;
}
.footer-pinterest {
    background-image: url(./assets/img/pint.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 26px;
    height: 26px;
    cursor: pointer;
    transition: 0.2s;
}
